* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f5f5f5;
}

.header {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover{
    color: goldenrod;
    font-weight: bold
}

.search {
    width: 300px;
    padding: 8px 16px;
    border: 2px solid #CFA0FF;
    border-radius: 20px;
    outline: none;
}

.login-btn {
    background: #8A2BE2;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
}

a:hover .login-btn {
    background-color: goldenrod;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    height: calc(100vh - 100px);
}

.left {
    background: #742FBB;
    border-bottom-right-radius: 200px;
    padding: 80px 100px;
    color: white;
    position: relative;
    overflow: hidden;
}

.left h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.left p {
    width: 70%;
    line-height: 1.6;
    margin-bottom: 40px;
}

.cadastro {
    background: #C08CFF;
    border: none;
    padding: 14px 35px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}



.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}

.illustration {
    width: 90%;
    object-fit: contain;
}

#linesCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
