body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;

}

.navbar ul li a{
    text-decoration: none;
    color: #B1B1B1;
}