<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>NEXO</title>
</head>
<body>
    <header>
        <img class="logo" src="" alt="">
        <nav class="navbar">
            <ul>
                <li><a href="/inicio">início</a></li>
                <li><a href="/lives">lives</a></li>
                <li><a href="/postagens">postagens</a></li>
                <li><a href="/grupo">grupos</a></li>
            </ul>
        </nav>
        <a href="/perfil">
            <img src="" alt="" class="perfil">
        </a>
    </header>

    <section class="left">
        <div class="autores">
            <strong>
            AUTORES
        </strong>
        <ul>
            <li>
                <a href="">
                     <img src="" alt="">
                    <small>@ABLUBLUBE</small>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="" alt="">
                    <small>@ABLUBLUBE</small>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="" alt="">
                    <small>@ABLUBLUBE</small>
                </a>
            </li>
        </ul>
        <button>MAIS</button>
        </div>

        <div class="playlists">
            <ul>
                <li>
                    <a href="/playlists">+ nova playlist</a>
                </li>
                <li>
                    <a href="" class="playlist">
                FANTASIA
            </a>
                </li>
            </ul>
            
            
        </div>
        
    </section>


    <section class="rigth">
        <h1>INÍCIO</h1>
        <div class="card">
            <div class="left">
                <img src="" alt="">
                <strong>AUTOR</strong>
                <small>@ABLUBLUBLE</small>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</P>
            </div>
            <div class="rigth">
                <img src="" alt="" class="book">
            </div>
        </div>

        <div class="card">
            <div class="left">
                <img src="" alt="">
                <strong>AUTOR</strong>
                <small>@ABLUBLUBLE</small>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</P>
            </div>
            <div class="rigth">
                <img src="" alt="" class="book">
            </div>
        </div>
    </section>
        

    <footer></footer>

</body>
</html>