<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Nexo</title>
    <link rel="stylesheet" href="../static/cadastro-{{cadastro}}.css">

</head>
<body>
  <div class="container">
    <div class="left-panel">
      <img src="img/logo.png" alt="Logo" class="logo-left">
      <h1 class="welcome-title">Seja Bem-<br>vinda!</h1>
      <button class="login-btn">Login</button>
    </div>
    <div class="right-panel">
      <img src="img/logo.png" class="logo-central" alt="Logo Nexo">
      <h2>Cadastro</h2>
      <form>
        <input type="text" placeholder="Nome" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Senha" required>
        <input type="password" placeholder="Confirme a senha" required>
        <input type="date" placeholder="Data do nascimento" required>
        <button type="submit" class="register-btn">Cadastrar</button>
      </form>
      <a href="#" class="terms">Termo de responsabilidade</a>
    </div>
  </div>
</body>
</html>