<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Nexo</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <img src="../static/img/logo.png" alt="Nexo Logo" class="logo">
            <h1>Bem-vinda de volta!</h1>
        </div>
        <div class="right-panel">
            <img src="../static/img/logo.png" alt="Nexo Logo" class="logo-login">
            <h2>Login</h2>
            <form class="login-form">
                <input type="text" placeholder="Usuário/email" required>
                <input type="password" placeholder="Senha" required>
                <a href="#" class="forgot-password">Esqueceu a senha?</a>
                <button type="submit">login</button>
            </form>
            <div class="register">
                <span>Novo usuário? <a href="/cadastro">Cadastre-se</a></span>
                <br>
                <span>Cadastre-se como autor? <a href="/cadastro">Cadastre-se</a></span>
            </div>
        </div>
    </div>
</body>
</html>
