<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexo</title>
    <link rel="stylesheet" href="../static/sobrenos.css">
    <link rel="stylesheet" href="../static/img/">
</head>
<body>

    <header class="header">
        <div class="logo">
            <img src="../static/img/logo.png" alt="Logo Nexo">
        </div>

        <input type="text" placeholder="Pesquisar..." class="search">

        <nav>
            <a href="#">Home</a>
            <a href="#">Sobre</a>
        </nav>

        <a href="/login">
            <button class="login-btn">Login</button>
        </a>
        
    </header>

    <main class="container">

        <section class="left">
            <h1>NEXO</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <a href="/cadastro">
                <button class="cadastro">Cadastre-se</button>
            </a>
            

            <canvas id="linesCanvas"></canvas>
        </section>
        <section class="right">
            <img src="../static/img/desenhos.png" alt="Ilustração" class="illustration">
        </section>
    </main>

</body>
</html>
